* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
}

header {
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	height: 100px;
}

a {
	text-decoration: none;
	color:#000000;
}

#logo {
	position: absolute;
}

#logo img {
	width: 30px;
	float: left;
}

nav {
	right: 0;
	position: absolute;	
	padding: 35px 10px 35px 35px;
	line-height: 1em;
}

nav img {
	width: 20px;
}

nav ul {
	list-style-type: none;
	right: 0;
	float: left;
	line-height: 1.5em;
}

nav ul li {
	display: inline;
	line-height: 1em;
}

nav a {
	padding-right: 10px;
}

nav ul li img {
	display: inline;
	line-height: 0;
}

#reseaux {
	line-height: 0;
	margin-left: 10px
}

section, footer {
	width: 100%;
	float: left
}

.wrapper {
	height: 100px;
}

.black, footer {
	background-color: #000;
	color: #ffffff;
}

h1, h3{
	text-align: center;
}

#logo figure {
	float: left;
	padding: 35px 4px 35px 35px;
}

figcaption {
	float: right;
	padding: 35px 35px 35px 0;
}


footer {
	height: 300px;
}

footer img {
	width: 31px;
	height: 27px;
}

footer p {
	text-align: center;
}

#contact {
	width: 300px;
	margin: 0 auto;
}

#tel {
	float: left;
	text-align: center
}

#mail {
	text-align: center
}